body {
    font-family: Arial;
    color: black;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 15px;
}

.left {
    margin-bottom: 60%;
    left: 0;
    background-color: whitesmoke;
}

.right {
    right: 0;
    background-color: white;
}